<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid px-5 pt-5">
        <div class="row" id="first_heading">
            <div class="col-8">
                <h1><strong>This First Heading</strong>
                    <span class="text-secondary"><strong>Will Catch Your Eye</strong></span>
                </h1>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eveniet vitae fugit earum. Sunt
                    iusto minus facere architecto fugiat distinctio voluptatem. Suscipit, amet? Ut, quis! Illo tempore
                    perspiciatis ab asperiores.</p>
            </div>
            <div class="col-4">
                <img src="assets/img/1.jpg" alt="Img" width="300" class="rounded-circle">

            </div>
        </div>

    </div>
</body>

</html>