<div class="row bg-white pt-5" id="portfolio">
    <div class="col-md-12 px-5"><h1>Portfolio</h1></div>
    <div class="col-md-12 px-5"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, distinctio assumenda. Quisquam, autem saepe ratione cum illo maiores repellat officia non nulla reprehenderit soluta labore dolor! Placeat eius aliquam ab.</p></div>
    <div class="row row-cols-1 row-cols-md-3 g-4 px-5">
        <div class="col-md-4">
          <div class="card h-100">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eveniet dolor rerum saepe voluptatibus eum in fuga numquam est! Sequi molestias numquam veritatis minus perspiciatis deleniti accusamus itaque consectetur nihil?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eveniet dolor rerum saepe voluptatibus eum in fuga numquam est! Sequi molestias numquam veritatis minus perspiciatis deleniti accusamus itaque consectetur nihil?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eveniet dolor rerum saepe voluptatibus eum in fuga numquam est! Sequi molestias numquam veritatis minus perspiciatis deleniti accusamus itaque consectetur nihil?</p>
            </div>
          </div>
        </div>
      </div>






</div>