<div class="container-fluid px-5 mt-5" id="services">
    <div class="row">
        <div class="col-md-4 col-4">

            <img src="assets/img/2.jpg" alt="Img" width="300" class="rounded-circle">
        </div>
        <div class="col-md-8 col-8">
            <h1><strong>The Second Heading</strong>
                <span class="text-secondary"><strong>Is Pretty Cool Too</strong></span>
            </h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nihil assumenda hic earum est ullam, esse similique eum, ut quas, fugiat molestias ipsum nostrum. Laboriosam nulla veritatis nobis culpa cum!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-5 py-3 border-bottom my-5"></div>
    </div>

</div>